Django>=4.2,<5.0
pycryptodome==3.21.0
asgiref==3.8.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.2.0
sqlparse==0.5.3
tzdata==2023.3
Pillow
Faker
factory_boy
celery
pytest
python-dotenv
